#LangChain
langchain
langchain-core

#OpenAI
langchain-openai
openai

# Google Gemini
langchain-google-genai
google-generativeai

# GROQ
langchain-groq

# Anthropic
langchain-anthropic

# HuggingFace
langchain-huggingface
transformers
huggingface-hub

# Environment variables
python-dotenv

# ML Utilities
numpy
pandas
scikit-learn

# Transformers
sentence-transformers

# UI
streamlit

# Other
pydantic